body {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
header {
    background-color: #ebded4;
    width: 100%;
    margin: 0%;
}

#eri-tellimus {
    width: 50%;
    border: #423224;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #423224;
}

section a {
    color: black;
}

section a:hover {
    color: black;
    text-decoration: none;
}

#footer-up {
    background-color: #EBDED4;
}

#footer-up a {
    color: #423224
}

#footer-bottom {
    background-color: #423224;
}

#footer-bottom .p{
    color: #FFFFFF;
}

.navigation-text {
    color:#623737;
}

.navigation-text:hover {
    color:#623737;
}

#big-space-row {
    padding-bottom: 9em;
}